.screen-application{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* align-content: space-between; */
    width: 215px;
    height: 466px;
    background-color: white;
    border-radius: 25px;
  }

  .back{
    align-self: flex-start;
    justify-self: flex-start;
    margin: 10px 0 0 10px;
    text-decoration: none;
    border: none;
    background: none;
  }
  .application-logo{
    width: 150px;

  }
  .application-logo-animation, .back-animation, .top-side-animation, .application-name-animation{
    display: none;
  }
  .animation{
    transition: all 0.3s;
    width: 0px;
    height: 0px;
    border-radius: 999999px;
  }