.screen-application{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* align-content: space-between; */
    width: 215px;
    height: 466px;
    background-color: white;
    border-radius: 25px;
  }
  
  .top-side{
    display: grid;
    grid-template-columns: 1fr 65px 1fr;
    place-content: center;
    gap: 12px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    
  }
  .show-time{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* margin: 0; */
    margin: 0 5px;
  }
  .dynamic-island{
    /* margin: 0px auto; */
    margin-top: 6px;
    width: 65px;
    height: 18px;
    background-color: black;
    border-radius: 15px;
  }
  .top-side-logos{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
    /* margin: 0; */
    margin: 0 5px;
    
  }

  .back{
    align-self: flex-start;
    justify-self: flex-start;
    margin: 10px 0 0 10px;
    text-decoration: none;
    border: none;
    background: none;
  }
  .application-logo{
    width: 150px;

  }
  .application-logo-animation, .back-animation, .top-side-animation, .application-name-animation{
    display: none;
  }
  .animation{
    transition: all 0.3s;
    width: 0px;
    height: 0px;
    border-radius: 999999px;

  }