.screen-homescreen{
    display: grid;
    /* place-items: center; */
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    width: 215px;
    height: 466px;
    background-color: beige;
    border-radius: 25px;
  }
  
  .top-side{
    display: grid;
    grid-template-columns: 1fr 65px 1fr;
    place-content: center;
    gap: 12px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    
  }
  .show-time{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* margin: 0; */
    margin: 0 5px;
  }
  .dynamic-island{
    /* margin: 0px auto; */
    margin-top: 6px;
    width: 65px;
    height: 18px;
    background-color: black;
    border-radius: 15px;
  }
  
  .top-side-logos{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
    /* margin: 0; */
    margin: 0 5px;
    
  }
  
  .grid-apps{
    display: grid;
    place-items: center;
    /* align-items: center;
    justify-content: center; */
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(6, 50px);
    column-gap: 8px;
    row-gap: 5px;
  }
  
  .search-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 12px;
    padding: 1px 2px 1px 2px;
    margin: 0 auto;
    font-size: 10px;
    border-radius: 5px;
    background-color: gray;
  }
  .search-icon{
    width: 8px;
  }
  .search-indicator p{
    margin: 0;
  }
  
  .dock{
    display: grid;
    grid-template-columns: repeat(4, 40px);
    column-gap: 8px;
    place-items: center;
    justify-content: center;
    width: 190px;
    height: 40px;
    padding: 5px;
    margin-bottom: 8px;
    background-color: aqua;
    border-radius: 20px;
  }