.app{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    
    width: 35px;
    height: 50px;
    /* background-color: white; */
}

.app--none{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    /* background-color: white; */
}

.app-logo{
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    background-color: aqua;
    /* background-color: brown; */
}

.app-logo img{
    width: 100%;
    border-radius: 8px;
    
}

.app-name{
    /* text-align: center; */
    margin: 0;
    font-size: 0.5rem;
}

.app-name--none{
    display: none;
}