body{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

.options{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  
}

.options label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphone{
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  margin: 0 auto;
}

.chasis{
  display: grid;
  place-content: center;
  width: 229px;
  height: 480px;
  background-color: gray;
  border-radius: 30px;
}

.separation{
  display: grid;
  place-content: center;
  width: 222px;
  height: 473px;
  background-color: black;
  border-radius: 27px;
  transition: 3s;
}

button:hover{
  cursor: pointer;
}

@media (width >= 600px){
  .iphone{
    transform: scale(1.3)
  }
  .options{
    margin-bottom: 100px;
  }
}

@media (width >= 900px){
  .iphone{
    transform: scale(1.5)
  }
  .options{
    margin-bottom: 150px;
  }
}